{% extends 'core/base.html' %}
{% load static tz quantities %}

{% block pagetitle %}
    <h2>Heartbeat</h2>
    <div class="controls">
        <a href="{% url 'admin:stations_heartbeat_change' heartbeat.id %}">
            <img class="" src="{% static 'pictures/edit.png' %}" />
        </a>
    </div>
{% endblock pagetitle %}

{% block page %}
    <p>
        From station <a href="{{ heartbeat.station.get_absolute_url }}">{{ heartbeat.station.name }}</a> (<span class="bold">{{ heartbeat.station.code }}</span>),
        received at {{ heartbeat.timestamp }}
    </p>

    <h3>Stations</h3>
        <table>
            <thead>
                <tr>
                    <th>timestamp</th>
                    <th>status</th>
                    <th>status string</th>
                    <th>ago</th>
                    <th>cover</th>
                    <th>temperature</th>
                    <th>lens temperature</th>
                    <th>CPU temperature</th>
                    <th>humidity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="data status">{{ heartbeat.timestamp }}</td>
                    <td class="data time">{{ heartbeat.timestamp|since_date_time }}</td>
                    <td class="data">{{ heartbeat.status }}</td>
                    <td class="data">{{ heartbeat.status_string }}</td>
                    <td class="data status">{{ heartbeat.get_lid_display }}</td>
                    <td class="data">{{ heartbeat.temperature|temperature }}</td>
                    <td class="data">{{ heartbeat.t_lens|temperature }}</td>
                    <td class="data">{{ heartbeat.t_cpu|temperature }}</td>
                    <td class="data">{{ heartbeat.humidity|humidity }}</td>
                </tr>
            </tbody>
        </table>

{% endblock page %}

