<h3>Status ({{ station.reports.count }} reports total)</h3>
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>status</th>
            <th>lid</th>
            <th>heating</th>
            <th><abbr title="temperature">T</abbr></th>
            <th><abbr title="atmospheric pressure">p</abbr></th>
            <th><abbr title="relative humidity">RH</abbr></th>
        </tr>
    </thead>
    {% for report in station.recent_reports %}
        <tr>
            <td class="data timestamp">{{ report.timestamp|date:"Y-m-d H:i:s" }}</td>
            <td class="data status">{{ report.status }}</td>
            <td class="data status">{{ report.get_lid_display }}</td>
            <td class="data status">{{ report.get_heating_display }}</td>
            <td class="data">{{ report.temperature|floatformat:1 }} °C</td>
            <td class="data">{{ report.pressure|floatformat:0 }} Pa</td>
            <td class="data">{{ report.humidity|floatformat:0 }}%</td>
        </tr>
    {% empty %}
        <tr>
            <td class="empty" colspan="7">There are no status reports for this station.</td>
        </tr>
    {% endfor %}
</table>
