{% extends 'core/base.html' %}
{% load station_tags %}
{% load tz %}

{% block pagetitle %}
<h2>AMOS network status</h2>
{% endblock pagetitle %}

{% block page %}
    <table class="full-width">
        <thead>
            <tr>
                <th colspan="2">subnetwork</th>
                <th>code</th>
                <th>name</th>
                <th>status</th>
                <th>local time</th>
                <th colspan="2">&#x2600;</th>
                <th colspan="2">last sighting</th>
                <th>admin</th>
            </tr>
        </thead>
        {% for subnetwork in subnetworks %}
            {% for station in subnetwork.stations_full %}
                <tr>
                    {% if forloop.first %}
                        <td class="multihead station" rowspan="{{ subnetwork.station_count }}">{{ subnetwork.code }}</td>
                        <td class="multihead" rowspan="{{ subnetwork.station_count }}">
                            <a href="{{ subnetwork.get_absolute_url }}">{{ subnetwork.name }}</a>
                        </td>
                    {% endif %}
                    
                    {% with sun=station.sun_position report=station.last_report last_sighting=station.last_sighting %}
                        <td class="station">
                            {{ station.code }}
                        </td>
                    
                        <td class="station">
                            <a href="{{ station.get_absolute_url }}">{{ station.name }}</a>
                        </td>
                    
                        <td class="status data">
                            {% if report %}
                                <abbr class="{{ report.0.type }}" title="{{ report.0.time }}">{{ report.0.status }}</abbr>
                                {% if report.extra %}
                                    ({{ report.extra }})
                                {% endif %}
                            {% else %}
                                <span class="empty">no status info</span>
                            {% endif %}
                        </td>
                    
                        <td id="{{ station.code }}-localtime" class="time c">
                            {% timezone station.timezone %}
                                <abbr title="{% now "Y-m-d" %}">{% now "H:i" %}</abbr>
                            {% endtimezone %}
                        </td>

                        <td id="{{ station.code }}-sunalt"
                            class="data angle"
                            style="background-color: {{ sun.alt|altitude_colour_back }}; color: {{ sun.alt|altitude_colour_front }};">
                            {{ sun.alt|floatformat:1 }}°
                            <span class="sun arrow" style="transform: rotate({{ sun.alt|multiply:-1 }}deg);">&#8594;</span>
                        </td>
                        <td id="{{ station.code }}-sunaz" class="data">
                            {{ sun.az|floatformat:1 }}°
                            <span class="sun arrow" style="transform: rotate({{ sun.az|add:-90 }}deg);">&#8594;</span>
                        </td>

                        <td class="time">
                            {% if station.last_sighting.0 %}
                                <a href="{{ station.last_sighting.0.get_absolute_url }}">{{ station.last_sighting.0.timestamp }}</a>
                            {% else %}
                                <span class="empty">no sightings</span>
                            {% endif %}
                        </td>
                        <td class="time">
                            {% if station.last_sighting.0 %}
                                {{ station.last_sighting.0.timestamp|since_date_time }}
                            {% else %}
                                <span class="empty">never</span>
                            {% endif %}
                        </td>

                        <td class="c">
                            <a href="{% url 'admin:stations_station_change' station.id %}">edit</a>
                        </td>
                    {% endwith %}
                </tr>
            {% empty %}
                <tr>
                    <td class="station">{{ subnetwork.code }}</td>
                    <td>
                        <a href="{{ subnetwork.get_absolute_url }}">{{ subnetwork.name }}</a>
                    </td>
                    <td colspan="10" class="empty">No stations are defined in this subnetwork.</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock page %}
