{% extends 'core/base.html' %}
{% load static %}
{% load tz %}
{% load station_tags %}

{% block pagetitle %}
    <h2>Station <span class="bold">{{ station.name }}</span> (<span class="bold">{{ station.code }}</span>)</h2>
    <div class="controls">
        <a href="{% url 'admin:stations_station_change' station.id %}">
            <img class="" src="{% static 'pictures/edit.png' %}" />
        </a>
    </div>
{% endblock pagetitle %}

{% block page %}
    <h3>Station info</h3>
        <p>{{ station.address }}</p>
        <p id="location">{{ station.location }}</p>
        <p id="localtime">Local time: <span class="b">{% timezone station.timezone %}{% now "Y-m-d H:i:s" %}{% endtimezone %}</span></p>
        {% with status=station.currentStatus %}
            <p id="status">{{ status.short}}</p>
        {% endwith %}

    <h3>Sky info</h3>
        <table>
            <thead>
                <tr>
                    <th>object</th>
                    <th colspan="2">altitude</th>
                    <th colspan="2">azimuth</th>
                    <th>magnitude</th>
                </tr>
            </thead>
            {% with sun=station.sunPosition %}
                <tr>
                    <td>Sun</td>
                    <td class="data sun" style="background-color: {{ sun.alt|altitudeColourBack }}; color: {{ sun.alt|altitudeColourFront }};">
                        <span class="suninfo standalone">
                            {{ sun.alt|floatformat:1 }}°
                        </span>
                    </td>
                    <td class="data arrow" style="background-color: {{ sun.alt|altitudeColourBack }}; color: {{ sun.alt|altitudeColourFront }};">
                        <span class="arrow" style="transform: rotate({{ sun.alt|multiply:-1 }}deg);">&#8594;</span>
                    </td>
                    <td class="data sun">
                        <span>{{ sun.az|floatformat:1 }}°</span>
                    </td>
                    <td class="data arrow">
                        <span class="arrow" style="transform: rotate({{ sun.az|add:-90 }}deg);">&#8594;</span>
                    </td>
                    <td class="data sun">
                        -26.74<sup>m</sup>
                    </td>
                </tr>
            {% endwith %}
        </table>

    <h3>Sightings</h3>
        <table>
            <tr>
                <th>timestamp</th>
                <th>magnitude</th>
            </tr>
            {% for sighting in station.latestSightings %}
                <tr>
                    <td class="data time"><a href="{% url 'sighting' id=sighting.id %}">{{ sighting.timestamp }}</td>
                    <td class="data magnitude">
                        {{ sighting.magnitude|stringformat:"+.2f"|default_if_none:"&mdash;" }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="empty">
                        There are no recorded sightings from this station within last 24 hours.
                    </td>
                </tr>
            {% endfor %}
        </table>

    <h3>Status ({{ station.reports.count }} reports total)</h3>
        <table>
            <thead>
                <tr>
                    <th>timestamp</th>
                    <th>status</th>
                    <th>lid</th>
                    <th>heating</th>
                    <th>temperature</th>
                    <th>pressure</th>
                    <th>humidity</th>
                </tr>
            </thead>
            {% for report in station.latestStatusReports %}
                <tr>
                    <td class="data timestamp">{{ report.timestamp|date:"Y-m-d H:i:s" }}</td>
                    <td class="data status">{{ report.status }}</td>
                    <td class="data status">{{ report.get_lid_display }}</td>
                    <td class="data status">{{ report.get_heating_display }}</td>
                    <td class="data">{{ report.temperature|floatformat:1 }} °C</td>
                    <td class="data">{{ report.pressure|floatformat:0 }} Pa</td>
                    <td class="data">{{ report.humidity|floatformat:0 }}%</td>
                </tr>
            {% empty %}
                <tr>
                    <td class="empty" colspan="7">There are no status reports for this station.</td>
                </tr>
            {% endfor %}
        </table>


    <h3>Station log</h3>
        <table>
            <thead>
                <tr>
                    <th>date</th>
                    <th>entry</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in station.logs.all|slice:":10" %}
                    <tr>
                        <td>{{ entry.created|date:"Y-m-d" }}</td>
                        <td>{{ entry.text }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2" class="empty">
                            There are no log entries for this station.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock page %}
