{% extends 'core/base.html' %}

{% block pagetitle %}Network status{% endblock pagetitle %}
{% block page %}
    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Admin</th>
        </tr>
        {% for subnetwork in subnetworks %}
            <tr class="sub">
                <th colspan="3">{{ subnetwork.name }}</th>
            </tr>
            {% for station in subnetwork.station_set.all %}
                <tr>
                    <td>{{ station.name }}</td>
                    <td>a</td>
                    <td><a href="{% url 'station' code=station.code %}">View</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock page %}
