{% load station_tags %}

<h3>Status ({{ station.heartbeats.count }} heartbeats total)</h3>
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>status</th>
            <th>lid</th>
            <th>heating</th>
            <th><abbr title="temperature">T</abbr></th>
            <th><abbr title="atmospheric pressure">p</abbr></th>
            <th><abbr title="relative humidity">RH</abbr></th>
        </tr>
    </thead>
    {% for heartbeats in station.recent_heartbeats %}
        <tr>
            <td class="data timestamp">{{ heartbeats.timestamp|date:"Y-m-d H:i:s" }}</td>
            <td class="data status">{{ heartbeats.get_status_display }}</td>
            <td class="data status">{{ heartbeats.get_lid_display }}</td>
            <td class="data status">{{ heartbeats.get_heating_display }}</td>
            <td class="data">{{ heartbeats.temperature|temperature }}</td>
            <td class="data">{{ heartbeats.pressure|pressure }}</td>
            <td class="data">{{ heartbeats.humidity|humidity }}</td>
        </tr>
    {% empty %}
        <tr>
            <td class="empty" colspan="7">There are no status reports for this station.</td>
        </tr>
    {% endfor %}
</table>
