{% extends 'core/base.html' %}

{% block pagetitle %}Network status{% endblock pagetitle %}
{% block page %}
    <table>
        <tr class="legend">
            <th>Subnetwork</th>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th colspan="2">Last sighting</th>
            <th>Admin</th>
        </tr>
        {% for subnetwork in subnetworks %}
            {% for station in subnetwork.station_set.all %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ subnetwork.station_set.all|length }}">{{ subnetwork.name }}</td>
                    {% endif %}
                    <td>{{ station.code }}</td>
                    <td><a href="{% url 'station' code=station.code %}">{{ station.name }}</a></td>
                    <td class="c">unknown</td>
                    <td class="c">
                        {% if station.lastSighting %}
                            {{ station.lastSighting.lightmaxTime }}
                        {% else %}never{% endif %}
                    </td>
                    <td class="c">
                        {{ station.lastSighting.lightmaxTime|default_if_none:"never"|timesince }}
                    </td>
                    <td class="c"><a href="{% url 'admin:stations_station_change' station.id %}">Edit</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>{{ subnetwork.name }}</td>
                    <td colspan="6" class="empty">No stations are defined for this subnetwork.</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock page %}
