{% extends 'core/base.html' %}
{% load static %}
{% load tz %}
{% load station_tags %}
{% load meteor_tags %}

{% block pagetitle %}
    <h2>Station <span class="bold">{{ station.name }}</span> (<span class="bold">{{ station.code }}</span>)</h2>
    <div class="controls">
        <a href="{% url 'admin:stations_station_change' station.id %}">
            <img class="" src="{% static 'pictures/edit.png' %}" />
        </a>
    </div>
{% endblock pagetitle %}

{% block headextra %}
    <link rel="stylesheet" type="text/css" href="{% static "js/ol.css" %}" />
    <script src="{% static "js/ol.js" %}"></script>
    <script src="{% static "meteors/js/map.js" %}"></script>
{% endblock headextra %}

{% block page %}
    <div class="inner">
        <div class="info">
            <h3>Station info</h3>
                <p>{{ station.address }}</p>
                <p id="location">{{ station.location }}</p>
                <p id="localtime">Local time: <span class="b">{% timezone station.timezone %}{% now "Y-m-d H:i:s" %}{% endtimezone %}</span></p>
                {% with status=station.current_status %}
                    <p id="status">{{ status.short }}</p>
                {% endwith %}

            {% include "stations/station-sky.html" %}
            {% include "stations/station-sightings.html" %}
            {% include "stations/station-heartbeats.html" %}
            {% include "stations/station-log.html" %}
        </div>

        <div class="preview">
            <div id="map" class="map"> </div>
        </div>
    </div>

{% endblock page %}
