{% extends 'core/base.html' %}
{% load static %}
{% load tz %}
{% load station_tags %}

{% block pagetitle %}
    <h2>Subnetwork <span class="bold">{{ subnetwork.name }}</span> (<span class="bold">{{ subnetwork.code }}</span>)</h2>
    <div class="controls">
        <a href="{% url 'admin:stations_subnetwork_change' subnetwork.id %}">
            <img class="" src="{% static 'pictures/edit.png' %}" />
        </a>
    </div>
{% endblock pagetitle %}

{% block page %}
    <p>
        Founded on
        {% if subnetwork.founded %}
            {{ subnetwork.founded }}
        {% else %}
            <span class="empty">unknown date</span>
        {% endif %}
    </p>

    <h3>Stations</h3>
        <table>
            <thead>
                <tr>
                    <th>code</th>
                    <th>name</th>
                    <th>latitude</th>
                    <th>longitude</th>
                    <th>altitude</th>
                </tr>
            </thead>
            <tbody>
                {% for station in subnetwork.stations.all %}
                    <tr>
                        <td class="data station">{{ station.code }}</td>
                        <td class="data station"><a href="{{ station.get_absolute_url }}">{{ station.name }}</a></td>
                        <td class="data">{{ station.latitude|latitude }}</td>
                        <td class="data">{{ station.longitude|longitude }}</td>
                        <td class="data">{{ station.altitude|floatformat:0 }} m</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="empty" colspan="5">There are no stations in this subnetwork.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock page %}

