{% extends 'core/base.html' %}
{% load tz static %}

{% block pagetitle %}
    <h2>Sighting <span class="name">{{ sighting.id }}</span></h2>

    {% include 'meteors/sighting/controls.html' %}
{% endblock pagetitle %}

{% block page %}
    <div>
        <p>
            {% if sighting.timestamp %}
                {{ sighting.timestamp|date:"Y-m-d, l" }}
            {% else %}
                <span class="unknown">unknown date</span>
            {% endif %}
        </p>
        <p>
            {% if sighting.meteor.id %}
                Meteor <a class="object-link meteor" href="{% url 'meteor' name=sighting.meteor.name %}">{{ sighting.meteor }}</a>
            {% else %}
                <span class="unknown">Unidentified meteor</span>
            {% endif %}
            observed from
            <a class="object-link station"
                href="{% url 'station' code=sighting.station.code %}"
                id="location-name">{{ sighting.station.name|default_if_none:"(unknown)" }}
            </a>
            at
            <span id="time">{{ sighting.timestamp|date:"Y-m-d H:i:s.u" }}</span>
        </p>
    </div>

    <div class="inner">
        <div class="info">
            {% include 'meteors/sighting/properties.html' %}
            {% include 'meteors/sighting/photometry.html' %}
            {% include 'meteors/sighting/sky-info.html' %}
            {% include 'meteors/sighting/video-frames.html' %}

            <h3>Light curve</h3>
            <img class="chart" src="{% url 'sighting-light-curve' id=sighting.id %}" alt="Light curve" />

            <h3>Sky visualisation</h3>
            <img class="chart" src="{% url 'sighting-sky' id=sighting.id %}" alt="Sky visualisation" />
        </div>
        <div class="preview">
            {% if sighting.jpg %}
            <a href="{{ sighting.jpg.url }}">
                <img class="sighting" src="{{ sighting.jpg.url }}" alt="Image for sighting {{ sighting.id }} is missing" />
            </a>
            {% else %}
                <img class="sighting empty" src="{% static "no-image.svg" %} "/>
            {% endif %}
        </div>
    </div>
{% endblock %}
