<h3>Video frames ({{ sighting.frames.count }} total)</h3>
<table class="alternating">
    <thead>
        <tr>
            <th>#</th>
            <th>timestamp</th>
            <th>time</th>
            <th>magnitude</th>
            <th>altitude</th>
            <th>azimuth</th>
        </tr>
    </thead>
    <tbody>
        {% for frame in sighting.frames.all %}
            <tr {% if frame.order == maxLight %}class="maxLight"{% endif %}>
                <td class="data order">
                    <a href="{{ frame.get_absolute_url }}">{{ frame.order }}</a>
                </td>
                <td class="data time">
                    {{ frame.timestamp|date:"H:i:s.u"|default:"&mdash;" }}
                </td>
                <td class="data time">
                    {{ frame.flight_time.total_seconds|floatformat:3|default:"&mdash;" }} s
                </td>
                <td class="data magnitude">
                    {{ frame.magnitude|magnitude }}
                </td>
                <td class="data angle">
                    {{ frame.altitude|angle }}
                </td>
                <td class="data angle">
                    {{ frame.azimuth|angle }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="data c empty">There are no recorded video frames for this sighting.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

