<thead>
    <tr>
        <th colspan="2">time</th>
        <th colspan="3">general</th>
        <th colspan="2">cover</th>
        <th colspan="4">devices</th>
        <th colspan="3">sensors</th>
        <th colspan="4">environment</th>
        <th colspan="2">storage</th>
    </tr>
    <tr class="subgroup">
        <th>timestamp</th>
        <th>ago</th>

        <th><abbr title="operation mode">mode</abbr></th>
        <th>state</th>
        <th><abbr title="full status string">string</abbr></th>

        <th>state</th>
        <th><abbr title="shaft position">pos</abbr></th>

        <th><abbr title="lens heating">lens</abbr></th>
        <th><abbr title="camera heating">&#127909;</abbr></th>
        <th><abbr title="image intensifier">II</abbr></th>
        <th><abbr title="fan">&#10043;</abbr></th>

        <th><abbr title="rain sensor">&#9748;</abbr></th>
        <th><abbr title="light sensor">&#9728;</abbr></th>
        <th><abbr title="master computer power">power</abbr></th>

        <th><abbr title="ambient temperature">T<sub>env</sub></abbr></th>
        <th><abbr title="temperature of the lens">T<sub>lens</sub></abbr></th>
        <th><abbr title="temperature of the CPU">T<sub>CPU</sub></abbr></th>
        <th><abbr title="relative humidity">RH</abbr></th>

        <th><abbr title="primary storage capacity">primary</abbr></th>
        <th><abbr title="permanent storage capacity">permanent</abbr></th>
    </tr>
</thead>
