[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"jinja2" = "*"
celery = "*"
redis = "*"
pipfile = "*"
django = "*"
django-admin-decorators = "*"
astropy = "*"
pyyaml = "*"
requests = "*"
numpy = "*"

[requires]
python_version = "3.5"
