{% extends 'core/base.html' %}
{% load static meteor_tags %}

{% block pagetitle %}
    <h2>Sighting <a href="{% url 'sighting' id=frame.sighting.id %}">{{ frame.sighting.id }}</a>, frame {{ frame.order }}</h2>
    <div class="controls">
        {% if frame.previous != None %}
            <a href="{% url 'frame' sighting=frame.sighting.id order=frame.previous.order %}">
                <img src="{% static "pictures/previous.png" %}" alt="Previous" />
            </a>
        {% else %}
            <img src="{% static "pictures/previous-gray.png" %}" alt="This is the first frame" />
        {% endif %}

        <a href="{% url 'admin:meteors_frame_change' frame.id %}">
            <img src="{% static "pictures/edit.png" %}" alt="Edit" />
        </a>

        {% if frame.next != None %}
            <a href="{% url 'frame' sighting=frame.sighting.id order=frame.next.order %}">
                <img src="{% static "pictures/next.png" %}" alt="Next" />
            </a>
        {% else %}
            <img src="{% static "pictures/next-gray.png" %}" alt="This is the last frame" />
        {% endif %}
    </div>
{% endblock pagetitle %}

{% block page %}
    <div>
        <p>
            {% if frame.timestamp %}
                {{ frame.timestamp|date:"Y-m-d, l" }}
            {% else %}
                <span class="unknown">unknown date</span>
            {% endif %}
        </p>
        <p>
            {% if frame.sighting.meteor.id %}
                Meteor <a href="{% url 'meteor' name=frame.sighting.meteor.name %}">{{ frame.sighting.meteor }}</a>
                observed from <a href="{% url 'station' code=frame.sighting.station.code %}" id="location-name">{{ frame.sighting.station.name|default_if_none:"(unknown)" }}</a>
                by <span id="observer-name">
                    {% if frame.sighting.observer is None %}
                        <span class="unknown">unknown observer</span>
                    {% else %}
                        {{ frame.sighting.observer.name }}
                    {% endif %}
                </span>
                at <span id="time">{{ frame.sighting.timestamp|date:"Y-m-d H:i:s.u" }}</span>
            {% else %}
                <span class="unknown">Unidentified meteor</span>
            {% endif %}
        </p>
    </div>

    <div class="inner">
        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th colspan="2" class="subgroup">position</th>
                    </tr>
                </thead>

                <tr>
                    <td>timestamp</td>
                    <td class="data timestamp">{{ frame.timestamp|safetime }}</td>
                </tr>
                <tr>
                    <td>azimuth</td>
                    <td class="data angle azimuth">{{ frame.azimuth|angle }}</td>
                </tr>
                <tr>
                    <td>altitude</td>
                    <td class="data angle altitude">{{ frame.altitude|angle }}</td>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <th colspan="2" class="subgroup">photometry</th>
                    </tr>
                </thead>
                <tr>
                    <td>apparent magnitude</td>
                    <td class="data magnitude">{{ frame.magnitude|magnitude }}</td>
                </tr>
                <tr>
                    <td>distance to meteor centre</td>
                    <td class="data length">{{ frame.distance|default_if_none:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>air mass</td>
                    <td class="data airmass">{{ frame.air_mass|floatformat:2|default:"&mdash;" }}</td>
                </tr>
            </table>
            <table>
                <thead>
                    <tr>
                        <th class="group">sky</th>
                        <th>azimuth</th>
                        <th>elevation</th>
                        <th>elongation</th>
                    </tr>
                </thead>
                <tbody>
                    {% with sun=frame.get_sun_info %}
                        <tr>
                            <td>Sun</td>
                            <td class="data angle azimuth">{{ sun.coord.az.degree|angle }}</td>
                            <td class="data angle altitude">{{ sun.coord.alt.degree|angle }}</td>
                            <td class="data angle">{{ sun.elong|angle }}</td>
                        </tr>
                    {% endwith %}
                    {% with moon=frame.get_moon_info %}
                        <tr>
                            <td>Moon</td>
                            <td class="data angle azimuth">{{ moon.coord.az.degree|angle }}</td>
                            <td class="data angle altitude">{{ moon.coord.alt.degree|angle }}</td>
                            <td class="data angle">{{ moon.elong|angle }}</td>
                        </tr>
                    {% endwith %}
                </tbody>
            </table>
        </div>
        <div class="preview">
            {% if sighting.composite %}
            <a href="{{ sighting.composite.url }}">
                <img class="sighting" src="{{ sighting.composite.url }}" alt="Image for sighting {{ sighting.id }} is missing" />
            </a>
            {% else %}
                <img class="sighting empty" src="{% static "no-image.svg" %} "/>
            {% endif %}
        </div>
    </div>
{% endblock %}
