html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    min-height: 100vh;
    background-color: black;
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

div.page p {
    margin: 15px 0;
}

abbr[title] {
    text-decoration: none;
}

div.page div.titlebar {
    width: 100%;
    margin-bottom: 16px;
    height: auto;
}

div.page div.titlebar h2 {
    display: inline;
}

div.page div.titlebar span#location {
    font-size: 10pt;
}

div.page div.titlebar div.controls {
    float: right;
}

div.page div.titlebar div.controls a {
    text-decoration: none;
}

div.page div.titlebar div.controls img {
    width: 32px;
    height: 32px;
}

div.page {
    padding: 20px;
    background-image: url("/static/solid.png");
    background-color: hsl(0, 0%, 40%);
    background-blend-mode: screen;
    min-height: calc(100vh - 88px);
    height: 100%;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 10px;
    clear: both;
}


a.object-link {
    font-weight: bold;
}

span.name {
    font-weight: bold;
}

div.page .empty {
    color: grey;
    text-align: center;
}

div.page form.login {
    border: 1px solid grey;
    background-color: hsla(120, 0%, 95%, 1);
    padding: 30px;
}

div.page form label {
    font-size: 9pt;
}

div.page form.login input {
    font-size: 14pt;
}

div.page form.date {
    display: inline;
}

div.page form.date p, div.page form.date input {
    display: inline-block;
}

span.sun {
    padding: 0 5px;
    font-weight: bold;
}

span.arrow {
    display: inline-block;
}


div.page div.info {
    width: 560px;
    float: left;
}

div.page div.inner {
    display: flex;
    width: 100%;
    height: 100%;
}

div.page div.preview {
    flex: 1;
    margin-left: 10px;
}

div.page div#map {
    width: 100%;
    height: calc(100vh - 175px);
    background: repeating-linear-gradient(
        -45deg,
        hsl(0, 0%, 90%),
        hsl(0, 0%, 90%) 20px,
        hsl(0, 0%, 95%) 20px,
        hsl(0, 0%, 95%) 40px
    );
}

div.page img.sighting {
    float: right;
    width: 100%;
}

img.sighting.empty {
    opacity: 0.25;
}

img.chart {
    border: 1px solid black;
}
