table {
    padding: 10px;
    margin-bottom: 10px;
    min-width: 540px;
    background-color: white;
}

table.full-width {
    width: 100%;
    table-layout: stretch;
}

table.alternating tr:nth-child(even) {
    background-color: hsla(0, 0%, 80%, 0.4);
}

table.heartbeats {
    table-layout: fixed;
}

tr {
    padding: 5px 12px;
    border-collapse: collapse;
}

tr.max-light {
    font-weight: bold;
}

td, th {
    padding: 7px 7px;
    vertical-align: middle;
}

th {
    font-size: 100%;
    background-color: hsla(200, 40%, 10%, 1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

tr.subgroup th, th.subgroup {
    background-color: hsla(220, 20%, 30%, 1);
}

th a {
    color: white;
}

div.page table td a {
    text-decoration: none;
}

td {
    border-collapse: collapse;
    white-space: nowrap;
    width: auto;
    vertical-align: baseline;
}

td.angle {
    width: 96px;
}

td.arrow {
    width: 20px;
}

td.multihead {
    vertical-align: middle;
}

td.data {
    text-align: right;
}

td.name {
    text-align: center;
}

td.timestamp {
    width: 100mm;
}

td.text {
    width: 100%;
    text-align: left;
    overflow: ellipsis;
}

td.verbatim {
    font-family: "Consolas", monospace;
    width: 150px;
}

td.l {
    text-align: left;
}

td.c {
    text-align: center;
}

td.r {
    text-align: center;
}

td.boolean {
    text-align: center;
    width: 60px;
}

/* station status colours */

td abbr {
    font-weight: bold;
}

td abbr.timeout {
    color: hsl(30, 100%, 50%);
}

td abbr.ok {
    color: hsl(120, 100%, 40%);
}

td abbr.none {
    color: hsl(0, 0%, 60%);
}

span.enabled {
    color: hsl(120, 100%, 40%);
}

span.disabled {
    color: hsl(0, 100%, 50%);
}
