{% extends 'core/base.html' %}
{% load static %}

{% block pagetitle %}
    <h2>About</h2>
{% endblock %}
{% block page %}
    <h3>AMOS control panel</h3>
    &copy; Kvík 2019

    Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
{% endblock %}
