{% block footer %}
    <div class="bar" id="footer">
        <ul>
            <li>&copy; Martin Baláž</li>
            <li>2011&ndash;{% now "Y" %}</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>PostgreSQL</li>
            <li>nginx + uWSGI</li>
        </ul>
        <a class="badge" href="http://www.djangoproject.com/">
            <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." />
        </a>
    </div>
{% endblock footer %}
