{% load static %}

<div class="bar" id="main-menu">
    <a href="{% url 'status' %}">
        <img id="logo" src="{% static 'amos.jpg' %}" alt="AMOS" />
    </a>
    <ul>
        {% for item in core.menu %}
            <li>
                <a href="{% url item.url %}">{{ item.caption }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="login-status">
        {% if request.user.is_authenticated %}
            Logged in as <span class="username">{{ request.user.username }}</span>
            (<a href="{% url 'logout' %}">log out</a>)
        {% else %}
            Not logged in (<a href="{% url 'login' %}">login</a>)
        {% endif %}
    </div>
</div>
