div.bar {
    width: 100%;
    height: 26px;
    position: relative;
    bottom: 0px;
    border: 0px none;
    color: white;
    font-size: 10pt;
    font-family: "Roboto", sans-serif;
    font-weight: bold;

    background-color: #101010;
/*    box-shadow: 0 2px 2px -1px rgba(0, 0, 128, 0.3),
        inset 0 1px rgba(255, 255, 255, 0.1),
        inset 0 10px rgba(255, 255, 255, 0.03),
        inset 0 25px 20px -15px rgba(255, 255, 255, 0.25),
        inset 0 -15px 30px rgba(0, 0, 0, 0.2);*/
}

div.bar h1 {
    font-size: 22pt;
    margin-bottom: 10px;
    margin-right: 20px;
    display: block;
    padding: 2px 10px;
    float: left;
}

div.bar ul {
    display: block;
    width: auto;
    height: 100%;
    margin: 0;
    float: left;
    list-style-type: none;
    list-style-position: outside;
    padding: 9px 10px;
}

div.bar ul li {
    display: block;
    width: auto;
    height: 100%;
    float: left;
}

div.bar#main-menu ul li {
    padding: 8px 20px;
}

div.bar#footer ul li {
    padding: 0px 10px;
    color: #808080;
}

div.bar ul li a, div.bar ul li a:visited {
    text-align: center;
    white-space: nowrap;
    color: #F0F0E4;

    transition: 0.3s all ease-out;
}

div.bar#main-menu ul li a, div.bar#main-menu ul li a:visited {
    display: block;
    color: #F8F8F8;
    font-size: 14pt;
    text-decoration: none;
}

div.bar ul li a:hover, div.bar#main-menu ul li a:hover {
    color: white;
    text-shadow: 0px 0px 2px white, 0px 0px 2px gray;
}

div.bar a.badge {
    padding: 2px 3px;
    float: right;
}

div#main-menu {
    height: 54px;
}

div#main-menu h1 {
    font-size: 24px;
}

div#main-menu img#logo {
    float: left;
    margin: 3px;
    height: 48px;
}

