html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 11pt;
    min-height: 100vh;
    background-color: black;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

div.page p {
    margin: 15px 0;
}

div.page div.titlebar {
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}

div.page div.titlebar h2 {
    display: inline;
}

div.page div.titlebar span#location {
    font-size: 10pt;
}

div.page div.titlebar div.controls {
    float: right;
}

div.page div.titlebar div.controls a {
    text-decoration: none;
}

div.page div.titlebar div.controls img {
    width: 32px;
    height: 32px;
}

div.page {
    padding: 20px;
    background-image: url("/static/solid.png");
    background-color: hsl(0, 0%, 80%);
    background-blend-mode: screen;
    min-height: calc(100vh - 85px);
}

div.page span.bold {
    font-weight: bold;
}

div.page h2 {
    font-size: 24pt;
}

div.page h3 {
    font-size: 18pt;
    margin: 10px 0px;
    clear: both;
}

div.page table {
    padding: 10px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 500px;
    background-color: white;
}

div.page table .c {
    text-align: center;
}

div.page table .r {
    text-align: right;
}

div.page table tr {
    padding: 0px 12px;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
    border-collapse: collapse;
}

div.page table tr:last-child {
    border-bottom: 1px solid black;
}

div.page table tr td, div.page table tr th {
    padding: 7px 10px;
    vertical-align: middle;
}

div.page table tr td {
    border-collapse: collapse;
}

div.page table tr th {
    font-size: 100%;
    background-color: hsla(180, 40%, 10%, 1);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

div.page table td a {
    text-decoration: none;
}

div.page .empty {
    color: grey;
    text-align: center;
}

div.page form {
    border: 1px solid grey;
    background-color: hsla(120, 0%, 95%, 1);
    padding: 30px;
}

div.page form label {
    font-size: 9pt;
}

div.page form input {
    font-size: 14pt;
}

div.page .suninfo {
    display: inline-block;
    padding: 0 5px;
}

div.page .suninfo.standalone {
    font-size: 20pt;
}

div.page div.info {
    width: 500px;
    float: left;
}

div.page div.inner {
    display: flex;
    width: 100%;
    height: 100%;
}

div.page div.preview {
    flex: 1;
    margin-left: 10px;
}

div.page div#map {
    width: 100%;
    height: calc(100vh - 201px);
    background: repeating-linear-gradient(
        -45deg,
        hsl(0, 0%, 90%),
        hsl(0, 0%, 90%) 20px,
        hsl(0, 0%, 95%) 20px,
        hsl(0, 0%, 95%) 40px
    );
}

div.page img.sighting {
    float: right;
    max-width: 80%;
}
