{% load quantities %}

<h3>Heartbeats ({{ station.heartbeats.count }} total)</h3>
<table class="heartbeats">
    {% include "stations/heartbeat/thead.html" %}
    {% for heartbeat in station.recent_heartbeats %}
        <tr>
            <td class="data c timestamp">
                <a href="{% url 'heartbeat' code=station.code id=heartbeat.id %}">{{ heartbeat.timestamp|date:"Y-m-d H:i:s" }}</a>
            </td>
            {% include "stations/heartbeat/tr.html" %}
        </tr>
    {% empty %}
        <tr>
            <td class="data c empty" colspan="50">There are no heartbeats for this station.</td>
        </tr>
    {% endfor %}
</table>
