{% load quantities %}

<h3>Status ({{ station.heartbeats.count }} heartbeats total)</h3>
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>status</th>
            <th>lid</th>
            <th>heating</th>
            <th><abbr title="temperature">T</abbr></th>
            <th><abbr title="atmospheric pressure">p</abbr></th>
            <th><abbr title="relative humidity">RH</abbr></th>
        </tr>
    </thead>
    {% for heartbeat in station.recent_heartbeats %}
        <tr>
            <td class="data timestamp">{{ heartbeat.timestamp|date:"Y-m-d H:i:s" }}</td>
            <td class="data status">{{ heartbeat.get_status_display }}</td>
            <td class="data status">{{ heartbeat.get_lid_display }}</td>
            <td class="data status">{{ heartbeat.get_heating_display }}</td>
            <td class="data">{{ heartbeat.temperature|temperature }}</td>
            <td class="data">{{ heartbeat.pressure|pressure }}</td>
            <td class="data">{{ heartbeat.humidity|humidity }}</td>
        </tr>
    {% empty %}
        <tr>
            <td class="data c empty" colspan="7">There are no heartbeats for this station.</td>
        </tr>
    {% endfor %}
</table>
