{% load quantities %}

<h3>Station log</h3>
<table class="full-width alternating">
    <thead>
        <tr>
            <th>date</th>
            <th>author</th>
            <th>entry</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in station.log_entries.all|slice:":10" %}
            <tr>
                <td class="data c timestamp">{{ entry.date|date:"Y-m-d" }}</td>
                <td class="data name">{{ entry.author.get_full_name }}</td>
                <td class="data text">{{ entry.text }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="c admin"><a href="{% url 'admin:stations_logentry_add' %}?station={{ station.id }}&author={{ request.user.id }}">+ add new log entry</a></td>
        </tr>
    </tbody>
</table>
