{% extends 'core/base.html' %}
{% load static tz %}

{% block pagetitle %}
    <h2>Station <span class="name">{{ station.name }}</span> (<span class="name">{{ station.code }}</span>)</h2>
    <div class="controls">
        <a href="{% url 'admin:stations_station_change' station.id %}">
            <img class="" src="{% static 'pictures/edit.png' %}" />
        </a>
    </div>
{% endblock pagetitle %}

{% block headextra %}
    <link rel="stylesheet" type="text/css" href="{% static "js/ol.css" %}" />
    <script src="{% static "js/ol.js" %}"></script>
    <script src="{% static "meteors/js/map.js" %}"></script>
{% endblock headextra %}

{% block page %}
    <div class="inner">
        <div class="info">
            <h3>Station info</h3>
                <p>Address: {{ station.address|default:"&mdash;" }}</p>
                <p id="location">Location: {{ station.location|default:"&mdash;" }}</p>
                <p id="localtime">Local time: <span class="b">{% timezone station.timezone %}{% now "Y-m-d H:i:s" %}{% endtimezone %}</span></p>
                {% with status=station.current_status %}
                    <p id="status">{{ status.short }}</p>
                {% endwith %}

            {% include "stations/station/sky.html" %}
            {% include "stations/station/sightings.html" %}
            {% include "stations/station/heartbeats.html" %}
            {% include "stations/station/log.html" %}

            <h3>Charts</h3>
            <img class="chart" src="{% url 'station-graph' code=station.code %}" alt="Graph" />
        </div>

        {% comment %}
        <div class="preview">
            <div id="map" class="map"> </div>
        </div>
        {% endcomment %}
    </div>

{% endblock page %}
