{% load quantities %}

<h3>Latest sightings (out of {{ station.sighting_count }} total)</h3>
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>ago</th>
            <th>magnitude</th>
            <th>altitude</th>
            <th>azimuth</th>
            <th>duration</th>
            <th>frames</th>
        </tr>
    </thead>
    {% for sighting in station.recent_sightings %}
        <tr>
            <td class="data timestamp">
                <a href="{% url 'sighting' id=sighting.id %}">{{ sighting.timestamp }}</a>
            </td>
            <td class="data">
                {{ sighting.timestamp|since_date_time }}
            </td>
            <td class="data magnitude">
                {{ sighting.magnitude|magnitude }}
            </td>
            <td class="data angle">
                {{ sighting.altitude|angle }}
            </td>
            <td class="data azimuth">
                {{ sighting.azimuth|angle }}
            </td>
            <td class="data time">
                {{ sighting.frames.last.flight_time.total_seconds|floatformat:3 }} s
            </td>
            <td class="data r">
                {{ sighting.frame_count }}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3" class="data c empty">
                There are no recorded sightings from this station.
            </td>
        </tr>
    {% endfor %}
</table>
