{% extends 'core/base.html' %}
{% load static %}
{% load meteor_tags %}
{% load station_tags %}

{% block pagetitle %}
    <h2>Sightings</h2>
    <div class="controls">
        <a href="{% url 'admin:app_list' 'meteors' %}">
            <img src="{% static "pictures/edit.png" %}" alt="Edit" />
        </a>
    </div>
{% endblock pagetitle %}

{% block page %}
    {% include 'meteors/sightings-navigation.html' %}

    <h3>
        {% block station_name %}All stations{% endblock station_name %}
    </h3>

    {% include 'meteors/sightings-table.html' %}
{% endblock %}
