{% extends 'core/base.html' %}
{% load static %}
{% load meteor_tags %}
{% load station_tags %}

{% block pagetitle %}
    <h2>Sightings</h2>
{% endblock pagetitle %}
{% block page %}
    <h3>
        {% block stationName %}All stations{% endblock %}
    </h3>
    <p>
        Night of <abbr title="{{ timeFrom|date:"Y-m-d H:i:s" }} &ndash; {{ timeTo|date:"Y-m-d H:i:s" }}">{{ date|date:"Y-m-d" }}</abbr>
        <a href="{{ navigation }}?date={{ date|previousDay|date:"Y-m-d" }}">previous night</a>
        <a href="{{ navigation }}?date={{ date|nextDay|date:"Y-m-d" }}">next night</a>
    </p>

    <p>{{ sightings|length }} recorded sighting{{ sightings|length|pluralize:",s" }}</p>
    <table>
        <thead>
            <tr>
                <th>timestamp</th>
                <th>meteor</th>
                <th>station</th>
                <th>magnitude</th>
                <th>elevation</th>
                <th>azimuth</th>
                <th>distance</th>
            </tr>
        </thead>
        {% for sighting in sightings %}
        <tr>
            <td id="{{ sighting.id }}-timestamp">
                <a href="{% url 'sighting' id=sighting.id %}">{{ sighting.lightmaxTime|date:"Y-m-d H:i:s" }}</a>
            </td>
            <td {% if not sighting.meteor %}class="empty"{% endif %}>
                {% if sighting.meteor %}
                    <a href="{% url 'meteor' id=sighting.meteor.id %}">{{ sighting.meteor }}</a>
                {% else %}
                    (not identified)
                {% endif %}
            </td>
            <td class="c">
                <a href="{% url 'station' code=sighting.station.code %}">{{ sighting.station.code }}</a>
            </td>
            <td class="r" style="background-color: {{ sighting.colour }}; color: {{ sighting.colourText }}">
                {{ sighting.magnitude|stringformat:"+.2f" }}<sup>m</sup>
            </td>
            <td class="r">
                {{ sighting.lightmaxAltitude|angle|default:"&mdash;" }}
                </td>
            <td class="r">
                {{ sighting.lightmaxAzimuth|angle|default:"&mdash;" }}
            </td>
            <td class="r">
                {{ sighting.distance|distance|default:"&mdash; " }}
            </td>
        </tr>
        {% empty %}
            <tr class="empty">
                <td colspan="7">There are no recorded sightings in the database.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
