{% extends 'core/base.html' %}
{% load static %}
{% load meteor_tags %}
{% load station_tags %}

{% block headextra %}
    <link rel="stylesheet" type="text/css" href="{% static "js/ol.css" %}" />
{# <script src="{% static "js/ol.js" %}"></script> #}
{#    <script src="{% static "meteors/js/map.js" %}"></script> #}
{% endblock headextra %}

{% block pagetitle %}
    <h2>Meteors</h2>
{% endblock %}

{% block page %}
    <div class="navigation">
        <a href="{% url 'listMeteors' %}?date={{ date|previousDay|date:"Y-m-d" }}">&lt;&lt;</a>
        <form class="date" action="{% url 'listMeteors' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="change">
        </form>
        <a href="{% url 'listMeteors' %}?date={{ date|nextDay|date:"Y-m-d" }}">&gt;&gt;</a>
    </div>
    <h3>
        {{ meteors|length }} meteors
    </h3>
    <table class="full-width">
        <thead>
            <tr>
                <th>id</th>
                <th>timestamp</th>
                <th>magnitude</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>altitude</th>
                <th>speed</th>
                <th>seen by</th>
            </tr>
        </thead>
        {% for meteor in meteors %}
            <tr>
                <td class="data name"><a href="{% url 'meteor' name=meteor.name %}">{{ meteor.name }}</a></td>
                <td class="data time">{{ meteor.timestamp|date:"Y-m-d H:i:s.u" }}</td>
                <td class="data magnitude" style="background-color: {{ meteor.colour }}; color: {{ meteor.colourText }}">{{ meteor.magnitude|magnitude }}</td>
                <td class="data angle">{{ meteor.lightmaxLatitude|latitude }}</td>
                <td class="data angle">{{ meteor.lightmaxLongitude|longitude }}</td>
                <td class="data length">{{ meteor.lightmaxAltitude|distance }} m</td>
                <td class="data speed">{{ meteor.speed|floatformat:0|default:"&mdash;" }} m/s</td>
                <td class="seen">
                    {% for sighting in meteor.sightings.all %}
                        <a href="{% url 'sighting' id=sighting.id %}">{{ sighting.station.code }}</a>
                    {% empty %}
                        <span class="empty">&mdash;</span>
                    {% endfor %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td class="empty" colspan="8">There are no recorded meteors in the database for this night.</td>
            </tr>
        {% endfor %}
    </table>

    {#<h3>Map</h3>#}
{#        <div id="map" class="map"> </div>#}
{% endblock %}
