{% extends 'core/base.html' %}
{% load static %}
{% load station_tags %}
{% load meteor_tags %}

{% block headextra %}
    <link rel="stylesheet" type="text/css" href="{% static "js/ol.css" %}" />
    <script src="{% static "js/ol.js" %}"></script>
    <script src="{% static "meteors/js/map.js" %}"></script>
{% endblock headextra %}

{% block pagetitle %}
    <h2>Meteor <span class="name">{{ meteor.name }}</span> (<span class="subnetwork">{{ meteor.subnetwork }}</span>)</h2>

    <div class="controls">
        {% if meteor.previous != None %}
            <a href="{% url 'meteor' name=meteor.previous %}">
                <img src="{% static "pictures/previous.png" %}" alt="Previous" />
            </a>
        {% else %}
            <img src="{% static "pictures/previous-gray.png" %}" alt="This is the first meteor" />
        {% endif %}

        <a href="{% url 'admin:meteors_meteor_change' meteor.id %}">
            <img src="{% static "pictures/edit.png" %}" alt="Edit" />
        </a>

        <a href="{% url 'meteor-KML' name=meteor.name %}" target="_blank">
            <img class="icon" src="{% static "pictures/icon-kml.png" %}" alt="View KML" />
        </a>

        {% if meteor.next != None %}
            <a href="{% url 'meteor' name=meteor.next %}">
                <img src="{% static "pictures/next.png" %}" alt="Next" />
            </a>
        {% else %}
            <img src="{% static "pictures/next-gray.png" %}" alt="This is the last sighting" />
        {% endif %}
    </div>
{% endblock pagetitle %}

{% block page %}
    <div class="inner">
        <div class="info">
            <h3>Properties</h3>
            <table>
                <thead>
                    <tr>
                        <th class="group" colspan="3">generic attributes</th>
                    </tr>
                </thead>
                <tr>
                    <td>name</td>
                    <td></td>
                    <td class="data">{{ meteor.name }}</td>
                </tr>
                <tr>
                    <td>timestamp</td>
                    <td colspan="2" class="data">{{ meteor.timestamp }}</td>
                </tr>
                <tr>
                    <td>solar longitude &#955;<sub>&#9737;</sub></td>
                    <td colspan="2" class="data">{{ meteor.timestamp|solar_longitude|angle }}</td>
                </tr>
                <tr>
                    <td>absolute magnitude</td>
                    <td class="data meter">
                        <meter min="-10" max="10" low="-5" optimum="0" high="5" value="{{ meteor.magnitude|multiply:-1 }}" />
                    </td>
                    <td class="data magnitude">{{ meteor.magnitude|magnitude }}</td>
                </tr>
                <tr>
                    <td>geocentric speed</td>
                    <td class="data meter">
                        <meter min="0" max="75000" low="20000" optimum="65000" high="60000" value="{{ meteor.speed }}" />
                    </td>
                    <td class="data speed">{{ meteor.speed|floatformat:0|default:"&mdash;" }} m/s</td>
                </tr>
            </table>

            <h3>Position</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>timestamp</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>altitude</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snapshot in meteor.snapshots.all %}
                        <tr>
                            <td class="data">
                                {{ snapshot.order }}
                            </td>
                            <td class="data">
                                {{ snapshot.timestamp|date:"H:i:s.u" }}
                            </td>
                            <td class="data">
                                {{ snapshot.latitude|latitude }}
                            </td>
                            <td class="data">
                                {{ snapshot.longitude|longitude }}
                            </td>
                            <td class="data">
                                {{ snapshot.altitude|altitude }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="empty">
                            <td colspan="5">
                                No snapshots of this meteor.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>{{ meteor.sightings.count }} recorded sighting{{ meteor.sightings.count|pluralize:"s" }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>station</th>
                        <th>timestamp</th>
                        <th>magnitude</th>
                        <th>altitude</td>
                        <th>azimuth</th>
                        <th>distance</th>
                    </tr>
                </thead>
                {% for sighting in meteor.sightings.all %}
                    <tr>
                        <td class="data seen">
                            <a href="{{ sighting.station.get_absolute_url }}">{{ sighting.station.code }}</a>
                        </td>
                        <td class="data time">
                            <a href="{{ sighting.get_absolute_url }}">{{ sighting.timestamp|date:"H:i:s.u" }}</a>
                        </td>
                        <td class="data magnitude">{{ sighting.magnitude|magnitude }}</td>
                        <td class="data angle">{{ sighting.altitude|angle }}</td>
                        <td class="data angle">{{ sighting.azimuth|angle }}</td>
                        <td class="data length">{{ sighting.distance }}</td>
                    </tr>
                {% empty %}
                    <tr class="empty">
                        <td colspan="8">There are no recorded sightings of this meteor.</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
        </div>

        <div class="preview">
            <div id="map" class="map"> </div>
        </div>
    </div>
{% endblock %}
