{% extends 'core/base.html' %}
{% load tz static meteor_tags station_tags %}

{% block headextra %}
    <link rel="stylesheet" type="text/css" href="{% static "js/ol.css" %}" />
    <script src="{% static "js/ol.js" %}"></script>
    <script src="{% static "meteors/js/map.js" %}"></script>
{% endblock headextra %}

{% block pagetitle %}
    {% include 'meteors/controls.html' %}
{% endblock pagetitle %}

{% block page %}
    <div class="inner">
        <div class="info">
            <h3>Properties</h3>
            <table>
                <thead>
                    <tr>
                        <th class="group" colspan="2">generic attributes</th>
                    </tr>
                </thead>
                <tr>
                    <td>name</td>
                    <td class="data">{{ meteor.name }}</td>
                </tr>
                <tr>
                    <td>timestamp</td>
                    <td class="data">{{ meteor.timestamp }}</td>
                </tr>
                <tr>
                    <td>local time</td>
                    <td class="data">
                        {% if meteor.subnetwork is None %}
                            ?
                        {% else %}
                            {% timezone meteor.subnetwork.timezone %}{{ meteor.timestamp|date:"Y-m-d H:i:s" }}{% endtimezone %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>solar longitude &#955;<sub>&#9737;</sub></td>
                    <td class="data">{{ meteor.timestamp|solar_longitude|angle }}</td>
                </tr>
                <tr>
                    <td>absolute magnitude</td>
                    <td class="data magnitude">{{ meteor.magnitude|magnitude }}</td>
                </tr>
                <tr>
                    <td>geocentric speed</td>
                    <td class="data speed {% if not meteor.speed %}empty{% endif %}">{{ meteor.speed|floatformat:0|default:"&mdash;" }} m/s</td>
                </tr>
            </table>

            <h3>Snapshots</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>timestamp</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>altitude</th>
                        <th>magnitude</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snapshot in meteor.snapshots.all %}
                        <tr>
                            <td class="data">
                                <a href="{% url 'snapshot' meteor=meteor.name order=snapshot.order %}">{{ snapshot.order }}</a>
                            </td>
                            <td class="data">
                                {{ snapshot.timestamp|date:"H:i:s.u" }}
                            </td>
                            <td class="data">
                                {{ snapshot.latitude|latitude }}
                            </td>
                            <td class="data">
                                {{ snapshot.longitude|longitude }}
                            </td>
                            <td class="data">
                                {{ snapshot.altitude|altitude }}
                            </td>
                            <td class="data">
                                {{ snapshot.magnitude|magnitude }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="empty">
                            <td class="data c empty" colspan="6">
                                No snapshots of this meteor.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>{{ meteor.sightings.count }} recorded sighting{{ meteor.sightings.count|pluralize:"s" }}</h3>
            <table>
                <thead>
                    <tr>
                        <th>station</th>
                        <th>timestamp</th>
                        <th>magnitude</th>
                        <th>altitude</td>
                        <th>azimuth</th>
                        <th>distance</th>
                    </tr>
                </thead>
                {% for sighting in meteor.sightings.all %}
                    <tr>
                        <td class="data seen">
                            <a href="{{ sighting.station.get_absolute_url }}">{{ sighting.station.code }}</a>
                        </td>
                        <td class="data time">
                            <a href="{{ sighting.get_absolute_url }}">{{ sighting.timestamp|date:"H:i:s.u" }}</a>
                        </td>
                        <td class="data magnitude">{{ sighting.magnitude|magnitude }}</td>
                        <td class="data angle">{{ sighting.altitude|angle }}</td>
                        <td class="data angle">{{ sighting.azimuth|angle }}</td>
                        <td class="data length">{{ sighting.distance }}</td>
                    </tr>
                {% empty %}
                    <tr class="empty">
                        <td class="data c" colspan="8">There are no recorded sightings of this meteor.</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
        </div>

        <div class="preview">
            <div id="map" class="map"> </div>
        </div>
    </div>
{% endblock %}
