{% extends 'core/base.html' %}
{% load static %}

{% block pagetitle %}Sighting {{ sighting.id }}{% endblock %}
{% block page %}
    
    <div class="controls">
        <a href="{% url 'sighting' id=sighting.previous %}">Previous</a>
        <a href="{% url 'admin:meteors_sighting_change' sighting.id %}">Admin</a>
        <a href="{% url 'sighting' id=sighting.next %}">Next</a>
    </div>

    <div>
    {% if sighting.meteor.id %}
        Meteor <a href="{% url 'meteor' id=sighting.meteor.id %}">{{ sighting.meteor }}</a>
        as seen from <span id="location-name">{{ sighting.station.name|default:"(unknown)" }}</span>
        by <span id="observer-name">{{ sighting.observer.name|default:"<span class=\"unknown\">unknown observer</span>" }}</span>
        at <span id="time">{{ sighting.lightmaxTime|date:"Y-m-d H:i:s.u" }}</span>
    {% else %}
        <span class="unknown">Unidentified meteor</span>
    {% endif %}
    </div>
    
    
    <div class="inner">
        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th class="group" colspan="3">Observed trajectory</th>
                    </tr>
                    <tr>
                        <th class="subgroup" colspan="3">Trail</th>
                    </tr>
                </thead>

                <tr>
                    <td rowspan="3">Trail beginning</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.beginningTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.beginningAzimuth|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.beginningElevation|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                
                <tr>
                    <td rowspan="3">Maximum brightness</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.lightmaxTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.lightmaxAzimuth|floatformat:2 }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.lightmaxElevation|floatformat:2 }}°</td>
                </tr>

                <tr>
                    <td rowspan="3">Trail end</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.endTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.endAzimuth|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.endElevation|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td colspan="2">Duration</td>
                    <td class="r">{{ sighting.duration.total_seconds|floatformat:3|default:"&mdash; " }} s</td>
                </tr>
                <tr>
                    <td colspan="2">Arc length</td>
                    <td class="r">{{ sighting.arcLength|floatformat:2|default:"&mdash; " }}°</td>
                </tr>

                <tr>
                    <th colspan="3" class="subgroup">Photometry</th>
                </tr>
                <tr>
                    <td colspan="2">Apparent magnitude</td>
                    <td class="r">{{ sighting.magnitude|stringformat:"+.2f" }}<sup>m</sup></td>
                </tr>
                <tr>
                    <td colspan="2">Distance to meteor centre</td>
                    <td class="r">{{ sighting.distance|default:"&mdash;" }} m</td>
                </tr>

                <thead>
                    <tr>
                        <th class="group" colspan="3">Sky</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">Sun</td>
                        <td>Azimuth</td>
                        <td class="r">{{ sun.coord.az.degree|floatformat:2 }}°</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td class="r">{{ sun.coord.alt.degree|floatformat:2 }}°</td>
                    </tr>
                    <tr>
                        <td>Elongation</td>
                        <td class="r">{{ sun.elong.degree|floatformat:2 }}°</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Moon</td>
                        <td>Azimuth</td>
                        <td class="r">{{ moon.coord.az.degree|floatformat:2 }}°</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td class="r">{{ moon.coord.alt.degree|floatformat:2 }}°</td>
                    </tr>
                    <tr>
                        <td>Elongation</td>
                        <td class="r">{{ moon.elong.degree|floatformat:2 }}°</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="preview">
            <a href="{% get_static_prefix %}data/{{ sighting.image }}">
                <img class="full-size-preview" src="{% get_static_prefix %}data/{{ sighting.image }}" alt="{{ sighting.id }}" />
            </a>
        </div>
         <div style="clear: both;"></div>
    </div>

    
{% endblock %}
