{% extends 'core/base.html' %}
{% load static meteor_tags %}

{% block pagetitle %}
    <h2>Sighting {{ sighting.id }}</h2>
    <div class="controls">
        {% if sighting.previous != None %}
            <a href="{% url 'sighting' id=sighting.previous %}">
                <img src="{% static "pictures/previous.png" %}" alt="Previous" />
            </a>
        {% else %}
            <img src="{% static "pictures/previous-gray.png" %}" alt="This is the first sighting" />
        {% endif %}

        <a href="{% url 'admin:meteors_sighting_change' sighting.id %}">
            <img src="{% static "pictures/edit.png" %}" alt="Edit" />
        </a>

        <a href="{% url 'sighting' id=sighting.id %}" target="_blank">
            <img class="icon" src="{% static "pictures/icon-kml.png" %}" alt="View KML" />
        </a>
        
        {% if sighting.next != None %}
            <a href="{% url 'sighting' id=sighting.next %}">
                <img src="{% static "pictures/next.png" %}" alt="Next" />
            </a>
        {% else %}
            <img src="{% static "pictures/next-gray.png" %}" alt="This is the last sighting" />
        {% endif %}
    </div>
{% endblock pagetitle %}

{% block page %}
    <div>
        <p>
            {% if sighting.timestamp %}
                {{ sighting.timestamp|date:"Y-m-d, l" }}
            {% else %}
                <span class="unknown">unknown date</span>
            {% endif %}
        </p>
        <p>
            {% if sighting.meteor.id %}
                Meteor <a class="object-link meteor" href="{% url 'meteor' name=sighting.meteor.name %}">{{ sighting.meteor }}</a>
            {% else %}
                <span class="unknown">Unidentified meteor</span>
            {% endif %}
            observed from <a class="object-link station" href="{% url 'station' code=sighting.station.code %}" id="location-name">{{ sighting.station.name|default_if_none:"(unknown)" }}</a>
            by <span id="observer-name">
                {% if sighting.observer is None %}
                    <span class="unknown">unknown observer</span>
                {% else %}
                    {{ sighting.observer.name }}
                {% endif %}
            </span>
            at <span id="time">{{ sighting.timestamp|date:"Y-m-d H:i:s.u" }}</span>
        </p>
    </div>
    
    
    <div class="inner">
        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th class="group" colspan="2">photometry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>timestamp</td>
                        <td class="data time ar">{{ sighting.timestamp|date:"Y-m-d H:i:s.u" }}
                    </tr>
                    <tr>
                        <td>apparent magnitude</td>
                        <td class="data magnitude">{{ sighting.lightmaxMagnitude|magnitude }}</td>
                    </tr>
                    <tr>
                        <td>distance to meteor centre</td>
                        <td class="data length">{{ sighting.distance|default_if_none:"&mdash;" }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>Sky info</h3>
            <table>
                <thead>
                    <tr>
                        <th class="subgroup">object</th>
                        <th class="subgroup">altitude</th>
                        <th class="subgroup">azimuth</th>
                        <th class="subgroup">elongation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sun</td>
                        <td class="data angle altitude">{{ sun.coord.alt.degree|angle }}</td>
                        <td class="data angle azimuth">{{ sun.coord.az.degree|angle }}</td>
                        <td class="data angle">{{ sun.elong|angle }}</td>
                    </tr>
                    <tr>
                        <td>Moon</td>
                        <td class="data angle altitude">{{ moon.coord.alt.degree|angle }}</td>
                        <td class="data angle azimuth">{{ moon.coord.az.degree|angle }}</td>
                        <td class="data angle">{{ moon.elong|angle }}</td>
                    </tr>
                </tbody>
            </table>


            <h3>Video frames ({{ sighting.frames.count }} total)</h3>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>timestamp</th>
                        <th>time</th>
                        <th>magnitude</th>
                        <th>altitude</th>
                        <th>azimuth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for frame in sighting.frames.all %}
                        <tr {% if frame.order == maxLight %}class="maxLight"{% endif %}>
                            <td class="data order">
                                <a href="{% url 'frame' sighting=sighting.id order=frame.order %}">{{ frame.order }}</a>
                            </td>
                            <td class="data time">
                                {{ frame.timestamp|date:"H:m:s.u"|default:"&mdash;" }}
                            </td>
                            <td class="data time">{{ frame.flightTime|floatformat:3|default:"&mdash;" }} s</td>
                            <td class="data magnitude">{{ frame.magnitude|magnitude }}</td>
                            <td class="data angle">{{ frame.altitude|angle }}</td>
                            <td class="data angle">{{ frame.azimuth|angle }}</td>
                        </tr>
                    {% empty %}
                        <tr class="empty">
                            <td colspan="6">There are no recorded video frames for this sighting.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <h3>Light curve</h3>
            <img class="chart" src="{% url 'sightingLightCurve' id=sighting.id %}" alt="Light curve" />
        </div>
        <div class="preview">
            {% if sighting.composite %}
            <a href="{{ sighting.composite.url }}">
                <img class="sighting" src="{{ sighting.composite.url }}" alt="Image for sighting {{ sighting.id }} is missing" />
            </a>
            {% else %}
                <img class="sighting empty" src="{% static "no-image.svg" %} "/>
            {% endif %}
        </div>
    </div>

    
{% endblock %}
