{% extends 'core/base.html' %}
{% load static %}

{% block pagetitle %}
    <h2>Sighting {{ sighting.id }}</h2>
    <div class="controls">
        <a href="{% url 'sighting' id=sighting.previous %}">
            <img src="{% static "pictures/previous.png" %}" alt="Previous" />
        </a>
        <a href="{% url 'admin:meteors_sighting_change' sighting.id %}">
            <img src="{% static "pictures/edit.png" %}" alt="Edit" />
        </a>
        <a href="{% url 'sighting' id=sighting.id %}" target="_blank">
            <img class="icon" src="{% static "pictures/icon-kml.png" %}" alt="View KML" />
        </a>
        <a href="{% url 'sighting' id=sighting.next %}">
            <img src="{% static "pictures/next.png" %}" alt="Next" />
        </a>
    </div>
{% endblock pagetitle %}

{% block page %}
    <div>
        <p>
            {% if sighting.meteor.id %}
                Meteor <a href="{% url 'meteor' id=sighting.meteor.id %}">{{ sighting.meteor }}</a>
                as seen from <a href="{% url 'station' code=sighting.station.code %}" id="location-name">{{ sighting.station.name|default:"(unknown)" }}</a>
                by <span id="observer-name">{{ sighting.observer.name|default:"<span class=\"unknown\">unknown observer</span>" }}</span>
                at <span id="time">{{ sighting.lightmaxTime|date:"Y-m-d H:i:s.u" }}</span>
            {% else %}
                <span class="unknown">Unidentified meteor</span>
            {% endif %}
        </p>
    </div>
    
    
    <div class="inner">
        <div class="info">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Trail</th>
                    </tr>
                </thead>

                <tr>
                    <td rowspan="3">Trail beginning</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.beginningTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.beginningAzimuth|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.beginningElevation|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                
                <tr>
                    <td rowspan="3">Maximum brightness</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.lightmaxTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.lightmaxAzimuth|floatformat:2 }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.lightmaxElevation|floatformat:2 }}°</td>
                </tr>

                <tr>
                    <td rowspan="3">Trail end</td>
                    <td>Time</td>
                    <td class="r">{{ sighting.endTime|date:"H:i:s.u"|default:"&mdash;" }}</td>
                </tr>
                <tr>
                    <td>Azimuth</td>
                    <td class="r">{{ sighting.endAzimuth|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td>Elevation</td>
                    <td class="r">{{ sighting.endElevation|floatformat:2|default:"&mdash; " }}°</td>
                </tr>
                <tr>
                    <td colspan="2">Duration</td>
                    <td class="r">{{ sighting.duration.total_seconds|floatformat:3|default:"&mdash; " }} s</td>
                </tr>
                <tr>
                    <td colspan="2">Arc length</td>
                    <td class="r">{{ sighting.arcLength|floatformat:2|default:"&mdash; " }}°</td>
                </tr>

                <tr>
                    <th colspan="3" class="subgroup">Photometry</th>
                </tr>
                <tr>
                    <td colspan="2">Apparent magnitude</td>
                    <td class="r">{{ sighting.magnitude|stringformat:"+.2f" }}<sup>m</sup></td>
                </tr>
                <tr>
                    <td colspan="2">Distance to meteor centre</td>
                    <td class="r">{{ sighting.distance|default:"&mdash;" }}</td>
                </tr>

                <thead>
                    <tr>
                        <th class="group" colspan="3">Sky</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">Sun</td>
                        <td>Azimuth</td>
                        <td class="r">{{ sun.coord.az.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td class="r">{{ sun.coord.alt.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                    <tr>
                        <td>Elongation</td>
                        <td class="r">{{ sun.elong.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Moon</td>
                        <td>Azimuth</td>
                        <td class="r">{{ moon.coord.az.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                    <tr>
                        <td>Elevation</td>
                        <td class="r">{{ moon.coord.alt.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                    <tr>
                        <td>Elongation</td>
                        <td class="r">{{ moon.elong.degree|floatformat:2|default:"&mdash; " }}°</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="preview">
            <a href="{% get_static_prefix %}data/{{ sighting.image }}">
                <img class="full-size-preview" src="{% get_static_prefix %}data/{{ sighting.image }}" alt="{{ sighting.id }}" />
            </a>
        </div>
         <div style="clear: both;"></div>
    </div>

    
{% endblock %}
